.header {
    font-size: 14px;
    position: relative;
    margin-bottom: 135px; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-top: 57px;
}

.header__col {
    display: flex; 
    align-items: center;
}

.header__col--align--right{
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.header__logo {
    display: inline-block;
    margin-right: 79px;
}

